<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>帖子标题</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
      <style>
          .line {
              border-bottom: solid 1px #9acfea;
              margin-bottom: 15px;
          }
      </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">论坛主页</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/post">发帖</a></li>
                {% if session.logged_in %}
                    <li><a>欢迎您：{{ session.login_user_nickname }}</a></li>
                    <li><a href="/login">退出</a></li>
                {% else %}
                    <li><a href="/login">登录</a></li>
                    <li><a href="/reg">注册</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        <div class="row line">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <p>{{ post.body }}</p>
            <p>
                <span class="label label-info">{{ user.nickname }}</span> &nbsp;&nbsp;
                {{ post.timestamp | datetimeformat("%Y-%m-%d %H:%M:%S") }}
            </p>
        </div>

        <div class="row line">
            <div class="line">
                <h4>{{ replys | length }}个回复</h4>
            </div>

            {% for reply in replys %}
                <div class="row" style="margin-bottom: 10px;">
                    <p class="col-lg-1"><span class="label label-info">{{ reply.user.nickname }}</span></p>
                    <p class="col-lg-11">{{ reply.reply.content }}</p>
                </div>
            {% endfor %}
        </div>


        {% if session.logged_in %}
            <div class="row">
                <form action="/reply" method="post">
                    <div class="form-group">
                        <label for="reply">回复</label>
                        <textarea name="content" id="reply" cols="30" rows="6" class="form-control"></textarea>
                    </div>

                    <input type="hidden" name="post_id" value="{{ post.id }}">

                    <div class="form-group">
                        <button class="btn">发表</button>
                    </div>
                </form>
            </div>
        {% else %}
            <h4><a href="/login">登录</a>后可回复</h4>
        {% endif %}


        {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/vendor/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  </body>
</html>
