<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>善款追踪论坛</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <style>
        .aw-topic-name img {
            width: 40px;
            height: 40px;
        }
        .aw-item {
            margin-top: 15px;
            padding-top: 10px;
            border-top: solid 1px #9acfea;
        }
    </style>
</head><x></x>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">论坛主页</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/post">发帖</a></li>
                <li><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="aw-content-wrap clearfix">
            <div class="col-sm-12 col-md-9 aw-main-content">

                <div class="aw-mod aw-explore-list">
                    <div class="mod-body">
                        <div class="aw-common-list">
                            <div class="aw-item active row">
{#                                <a class="aw-user-name col-lg-2" href="#" rel="nofollow">#}
{#                                    <img src="http://wenda.ghostchina.com/uploads/avatar/000/00/10/60_avatar_max.jpg"#}
{#                                        alt=""/>#}
{#                                </a>#}
                                <div class="aw-question-content col-lg-10">
                                    <h4>
                                        <a href="/detail">关于四月份捐款去向的说明</a>
                                    </h4>
                                    <a href="/detail" class="pull-right text-color-999">回复</a>
                                    <p>
                                        <a href="/myposts" class="aw-user-name">恶贯满盈</a>
                                        <span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 5 次浏览 • 2 小时前</span>
                                        <span class="text-color-999 related-topic hide"> •  来自相关话题</span>
                                    </p>
                                </div>
                            </div>
                            <div class="aw-item active row">
{#                                <a class="aw-user-name col-lg-2" href="#" rel="nofollow">#}
{#                                    <img src="http://wenda.ghostchina.com/uploads/avatar/000/00/02/27_avatar_max.jpg"#}
{#                                        alt=""/>#}
{#                                </a>#}
                                <div class="aw-question-content col-lg-10">
                                    <h4>
                                        <a href="/detail">关于五月份捐款去向的说明</a>
                                    </h4>
                                    <a href="/detail" class="pull-right text-color-999">回复</a>
                                    <p>
                                        <a href="/myposts" class="aw-user-name">mutooo</a>
                                        <span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 34 次浏览 • 3 天前</span>
                                        <span class="text-color-999 related-topic hide"> •  来自相关话题</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {#                        分页#}
                    <div class="mod-footer">

                    </div>
                </div>
            </div>

            <!-- 侧边栏 -->

            <!-- end 侧边栏 -->
        </div>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</body>
</html>
