<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>善款追踪论坛-发帖</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">论坛主页</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/post">发帖</a></li>
                {% if session.logged_in %}
                    <li><a>欢迎您：{{ session.login_user_nickname }}</a></li>
                    <li><a href="/logout">退出</a></li>
                {% else %}
                    <li><a href="/login">登录</a></li>
                    <li><a href="/reg">注册</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <form action="/post/save" method="post" class="col-lg-8 col-lg-offset-2" style="margin-top: 15px">
        <h2 class="form-signin-heading">发布帖子</h2>
        <label for="title" class="sr-only">标题</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="标题" required=""
               autofocus="">
        <label for="content">内容</label>
        <textarea name="content" id="content" cols="30" rows="10" class="form-control" placeholder="内容" required=""></textarea>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">发布</button>
    </form>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</body>
</html>
